body{
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background: #6e56b0;
    color: #f9f9f9;
}

:root{
    --color-primary:#8864f0;
    --color-border: #686870;
    --color-muted: #67666e;
    --color-card: #292334;

}
.card {
    display: flex;
    flex-direction: column;
    background: var(--colore-card);
    border-radius:22px ;
    padding: 6px;
    width: clamp(300px,85vw,500px);
    box-shadow: 0 50px 100px rgb(0, 0, 0 /12%);
}
.hero,form {flex: 1 1 50%;}
.hero{
    background: url(imges/wallpaperflare.com_wallpaper\ \(3\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    transition: padding 0.3s;

}
form{
    padding: 30px 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: padding 0.3s;

}
form :is(h2, h3){
    text-align: center;
}
form > h2{
    font-size: 22px;
}
form > h3 {
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--color-muted);
}
button ,input{
    height: 44px;
    border-radius: 6px;
    border: 0;
    color: inherit;
    font-family: inherit;
    width: 100%;
    outline-color: var(--color-primary);
}
input {
    background: #3c364c;
    padding: 0 2.5vw;

}
input::placeholder {
    color: #7f7990;
}
.social {
    display: flex;
    gap: 8px;

}

.social-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: transparent;
    border: 1px solid var(--color-border);
}

@media (width>=485px){
    form {padding-inline: 50px;}
}

@media (width>=500px) {
    form {
        transition: none;
    }
}
@media (width>=580px) {
   .card {
    flex-direction: row;
    padding: 6px 0 6px 6px ;
    width: clamp(300px, 90px ,740px);
   }
}
form :is(h2 ,h3){text-align: left;}
.hero{flex: 1 1 40%; width: 50%;} 
form{padding: 60px 30px;}

@media (width>=485px) {
    .hero{flex: 1 1 50% ; width: 50%;}
}